.container {
    width: 100%;
    padding:20px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

.btn {
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    color: #24333b;

}

.btn:hover {
    transition: .3s;
    color: #bbb;
}

.products_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    /* align-items: center; */
}

@media screen and (max-width:768px) {
    
    .products_container {
        grid-template-columns: 1fr;
    }

    .buttons {
        width: 100%;
        /* flex-wrap: wrap; */
    }

    .btn {
        font-size: 14px;
    }
}

.product_wrapper {
    width: 100%;
    height: 100%;
    /* padding: 20px; */
   

}

.image_container {
    position: relative;
    height: 200px;
    width: 90%;
    margin: 20px auto;
    background-color: rgba(165, 198, 288, .12);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart_icon_container {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* padding: 5px; */
    line-height: 40px;
    background-color: #fff;
    display: flex;
    text-align: center;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px  rgba(0, 0, 0, .2);
    z-index: 2;
}

.cart_icon {
    color: #000;
    font-size: 1.25rem;
    font-weight: 500;
}

.product_name {
    color: #252525;
    cursor: pointer;
    text-transform: uppercase;
}

.product_price {
    font-weight: 700;
    font-size: 1.18rem;
    color: #252525;
    margin-top: 10px;
}