.container {
  width: 96%;
  margin: 0 auto;
  min-height: 80vh;
  /* display: flex; */
  position: relative;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);

  /* display: none; */
}

.arrow_container {
  width: 80px;
  height: 80px;
background:  #d92e28;
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  /* left: 20px; */
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  /* display: none; */
}

.arrow_container:first-of-type {
  margin-right: 2px;
}

.arrow_container:hover {
  color: coral;
}

.icons_container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  z-index: 9;
}

.arrow_container:last-of-type {
  right: 20px;
}

.slider_container {
  display: flex;
  min-height: 80vh;
  height: 100%;
  align-items: center;
  /* width: 95%;
  margin: auto; */
 background-color: #ECE6E4;
  position: relative;
  overflow-x: hidden;
  /* background: url('../../public/images/carousel/carousel-background2.jpg') center no-repeat; */
  /* background-size: cover; */
 

  /* background-color: rgba(165, 198, 288, .4); */
  /* background-color: #067373; */

  /* overflow-x: hidden; */
}

.slider_container::after {
    content: '';
    position: absolute;
    right:  0;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: #f6f9ff;
   clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
   /* clip-path: polygon(31% 5%, 100% 0%, 100% 100%, 25% 100%, 0 51%); */
   /* clip-path: polygon(28% 0, 100% 0%, 100% 100%, 54% 100%, 0 51%); */
   /* clip-path: polygon(28% 1%, 100% 1%, 100% 98%, 54% 99%, 0 51%); */
   /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
   /* clip-path: polygon(25% 0%, 100% 0, 88% 100%, 0% 100%); */
   /* clip-path: polygon(25% 0%, 100% 0, 99% 100%, 0% 100%); */
   z-index: 2;
   /* display: none; */
    
   
}
.slider_container::before {
    content: '';
    position: absolute;
    right:  0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    display: none;
    /* background-color: #000; */

    
   
}

.slide {

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* flex: 1; */
}

.group {
  /* flex: 1; */
  
  
  width: 50vw;
}

.group:last-of-type {
  /* background-color: coral;
  background-color: #f6f9ff;
  mix-blend-mode: hue; */
   display: flex;
  justify-content: center;
  align-items: center;
   height: 100%;
   z-index: 4;
}

.info_wrapper {
  height: 100%;
   flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #242B2D;
}

.info_wrapper h2 {
  font-size: 64px;
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: 900;
}

.price span {
  color: #9caaae;
  font-size: 16px;
} 

.price{
  font-size: 28px;
  font-weight: 700;
}
.image_container {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  /* display: none; */
}

.image_wrapper {
  height: 400px;
  position: relative;
  width: 400px;
  /* display: none; */
}

.image_wrapper > div {
    position: unset !important;
}

.image {
     object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

.btn {
  height: 60px;
  background: transparent;
  width: 160px;
  cursor: pointer;
  margin-top: 20px;
  transition:  all .5s;
 text-align: center;
 border: 2px solid #242B2D;
 border-radius: 2px;
}

.btn:hover {
  /* background-color: #d92e28; */
  /* color: #f6f9ff; */
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: none;
  /* line-height: 40px; */
  border-top: 2px solid #d92e28;
  border-bottom: 2px solid #d92e28;
  border-left: 2px solid #d92e28;
}


.info{
  display: flex;
  flex-direction: column;
}
