@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400;600&display=swap');

html,
body,* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  /* background-color: #020514; */
  background-color: #f6f9ff;
  /* background-color: #232425; */
  /* #f09e1b */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}
main {
  padding:  0 30px;
}
